@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div>
    <partial name="View"/>
    @if (TempData["ALogOff"] != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                alert("@TempData["ALogOff"]");
            };
        </script>
    }
</div> 