@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
@model e_commerce.Models.Customer

@{
    ViewData["Title"] = "Customer";
}

<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<link rel="stylesheet" href="~/css/site.css" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet">
<div class="container-fluid" style="background-color:lavender">
    <div class="jumbotron" style="background-color:lavender">
        <br />
        <br />
        <div class="row">
            <div class="col-sm-6">
                <div class="card" style="height:95% ; background-color:white">
                    <img src="https://th.bing.com/th/id/OIP.igX0vienXF-pxkGr-OEhrAHaHa?pid=ImgDet&rs=1" />

                </div>
            </div>
            <div class="col-sm-6">
                <div class="jumbotron" style="display:inline-block; background-color:white; ">
                    <h1>Login</h1>


                    <hr />
                    <div class="row">
                        <div class="col-md-4">
                            <form asp-action="Customer">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                <div class="form-group">
                                    <label asp-for="UserName" class="control-label"></label>
                                    <input asp-for="UserName" class="form-control" style="width:500px;" />
                                    <span asp-validation-for="UserName" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Password" class="control-label"></label>
                                    <input asp-for="Password" class="form-control" style="width:500px;" />
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                                

                                <div class="form-group">

                                    <input type="submit" value="Login" class="btn btn-lg btn-outline-dark" style="color:olive; border-block-style:ridge" role="button" />
                                </div>
                            </form>
                            @if (ViewBag.CLogin != null)
                            {
                                <script type="text/javascript">
                        window.onload = function () {
                            alert("@ViewBag.CLogin");
                        };
                                </script>
                            }

                            <div>
                                <a class="btn btn-danger" asp-action="ForgotPassword" asp-controller="Customers">Forgot Password</a>   

                                <a class="btn btn-primary" asp-action="CustomerRegistration" asp-controller="Login">New User ? Register</a>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>




        @section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }
       
    </div>
</div>
