<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FullCart: Shop Anything Here</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <style>
        body {
            font-family: Arial, Helvetica, sans-serif;
        }

        
        footer {
            position: absolute;
            left: 0;
            bottom: 0;
            height: 100px;
            width: 100%;
            color: #FFFFFF;
            background: #06303A;
            font-size: 1.5em;
            text-align: center;
            line-height: 100px;
        }
   
        .navbar {
            overflow: hidden;
            background-color: #333;
        }

            .navbar a {
                float: left;
                font-size: 16px;
                color: white;
                text-align: center;
                padding: 14px 16px;
                text-decoration: none;
            }

        .dropdown {
            float: left;
            overflow: hidden;
        }

            .dropdown .dropbtn {
                font-size: 16px;
                border: none;
                outline: none;
                color: white;
                padding: 14px 16px;
                background-color: inherit;
                font-family: inherit;
                margin: 0;
            }

            .navbar a:hover, .dropdown:hover .dropbtn {
                background-color:cornsilk;
            }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

            .dropdown-content a {
                float: none;
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
                text-align: left;
            }

                .dropdown-content a:hover {
                    background-color: #ddd;
                }

        .dropdown:hover .dropdown-content {
            display: block;
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-dark border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Login" asp-action="AdminView">
                    <span style="color:white">
                        <img src="https://static.vecteezy.com/system/resources/previews/000/267/981/original/vector-shopping-cart-icon.jpg" style="background-color:black" class="img-circle" alt="New York" width="50" height="30">
                        FULLCART
                    </span>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                

                <div class="collapse navbar-collapse justify-content-sm-end" id="colNav">
                    <ul class="navbar-nav navbar-right">
                        <li class="nav-item "><a asp-controller="OrderReviews" asp-action="Index" ><i class="glyphicon glyphicon-list"></i>Reviews </a></li>
                        <li class="nav-item"><a asp-controller="Login" asp-action="AMyAccount"><i class="glyphicon glyphicon-user"></i>My Account </a></li>
                        <li class="nav-item"><a asp-controller="Login" asp-action="AdminLogOff">Sign Out <i class="glyphicon glyphicon-log-out"></i></a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid" style="overflow:auto">

        @RenderBody()

    </div>
    <footer class="footer bg-dark">
        <div class="container">
            &copy; 2021 - FullCart: Shop Anything Here - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>

